html {
  scroll-behavior: smooth;
}

body {
  background-color: #252522;
  font-family: "Lato", sans-serif;
  color: #f9f9f9;
}

.content {
  width: 1200px;
  margin: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #d19f72;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #d19f72;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #d19f72;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid #d19f72;
}

i {
  color: #f9f9f9;
}

.filters {
  display: none;
}

details {
  padding: 5px 0px 5px 0px;
}

summary {
  font-weight: bold;
  color: #d19f72;
  margin-bottom: 5px;
}

summary:hover {
  cursor: pointer;
}

summary::selection {
  background: transparent;
}

.tableau_rr {
  width: 100%;
}

.tableau_bonus {
  width: 100%;
  margin-left: 50px;
}

p {
  margin: auto;
  text-align: justify;
  text-justify: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: #d19f72 1px solid;
}

td {
  padding: 8px;
}

.header {
  display: flex;
  flex-direction: column;
}

#searchTerm {
  background: none;
  border: #d19f72 1px solid;
  color: #f9f9f9;
  margin-bottom: 20px;
}

#back_totop {
  font-size: 24px;
  color: #d19f72;
  position: fixed;
  bottom: 80px;
  right: 20px;
  border: none;
  display: none;
}

#back_totop:hover {
  background-color: transparent;
  color: #f9f9f9;
  transition: 0.2s;
  cursor: pointer;
}

.afficher_backtotop {
  display: block;
}

button {
  background: none;
  border: #d19f72 1px solid;
  color: #f9f9f9;
}

button:hover {
  background-color: #d19f72;
  color: #252522;
  transition: 0.2s;
  cursor: pointer;
}

button:active {
  background-color: #f9f9f9;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px dashed #f9f9f9;
}

.a_summary {
  border-bottom: 1px solid #d19f72;
  padding-bottom: 1px;
}

.a_summary:hover {
  color: #f9f9f9;
  border-bottom: #f9f9f9 1px solid;
  transition: 0.2s;
}

.li_summary {
  padding: 0px;
  border-bottom: none;
}

.search_options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.separator_child {
  width: 100%;
  border-top: 0px;
  margin-left: 15px;
}

select {
  border: #d19f72 1px solid;
  color:#f9f9f9;
  background: none;
}

select option {
  background-color: #252522;
}

select option:checked {
  background-color: #d19f72;
  color: #252522;
  font-weight: bold;
}

select optgroup {
  background-color: #252522;
}

select::-webkit-scrollbar {
  width: 6px;
}

select::-webkit-scrollbar-track {
  background-color: #252522
}

select::-webkit-scrollbar-thumb {
  background-color: #d19f72;
  border-radius: 5px;
}

select::-webkit-scrollbar-thumb:hover {
  background-color: #d19f72;
}

#fiche_personnage {
  display: flex;
}

footer {
  margin: 100px;
}

.value {
  text-align: center;
}

.attribute-name {
  color: #d19f72;
  font-weight: bold;
  border: #d19f72 1px solid;
  border-right: none;
}

.skill-name {
  padding-left: 20px;
  border-bottom: none;
}

.valeur {
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.valeur-attribute {
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} 

@media screen and (max-width: 1200px) {
  .content {
    width: 95%;
  }
}

@media screen and (max-width: 980px) {
  .search_options {
    flex-direction: column;
  }
}